.misty-container {
  z-index: 100;
  display: grid;
}

.misty-body-wrapper,
.misty-contents {
  grid-column: 1;
  grid-row: 1;

  overflow: auto;
}

.misty-body-wrapper {
  display: flex;
}

.misty-body {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

.misty-close_button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;

  background: transparent;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;

  z-index: 100;
}
